.container {
  margin: auto;
  max-width: 500px;
  
  font-family: 'Barlow Condensed', sans-serif;
}

.heading {
  color: rgb(78,103,145);
}
.nav-links {
  display: flex;
  margin-left: 0;
  list-style: none;
}
.nav-link-item {
  padding-right: 2rem;
}
.nav-link-text {
  color: rgb(78,103,145);
  font-weight: bold;
  text-decoration: none;
}